
<div class="hud">
  <propagate-message *ngIf="_messageService.propagateMessage[0] != null"></propagate-message>
  <!--[message]="_messageService.propagateMessage.length > 0 ? _messageService.propagateMessage[0] : null"-->
  <div class="messagetoSend">
    <message [message]="_messageService.messages[selection.top]"
             class="messageTop"></message>
    <message [type]="true" [message]="_messageService.messages[selection.main]"
             class="messageMain" [class.send]="currentlySend"></message>
    <message [message]="_messageService.messages[selection.bottom]"
             class="messageBottom"></message>
  </div>

  <receive class="messageReceive"></receive>
</div>


