.messagetoSend {
  background-color: rgba(94, 149, 89, 0.55);
  position: absolute;
  width: 50%;
  z-index: 100;
}

.messageReceive {
  background-color: rgba(186, 100, 115, 0.61);
  position: absolute;
  left: 50%;
  width: 50%;
  z-index: 101;
}

propagate-message {
  z-index: 300;
}

.send {
  background-color: #00cc66;
}


