<div>
  <li><a routerLinkActive="active" [routerLink]="['/']"> home</a></li>

  <div class="command">
    <h2>internal command</h2>
    <div class="boutons-hud1">
      <button id="i_top" (click)="push(-2)">top</button>
      <button id="i_bottom" (click)="push(-3)">bottom</button>
      <button id="i_cancel" (click)="push(-1)">cancel</button>
    </div>
    <div class="boutons-hud2 type1">
      <button id="i_0" (click)="push(0)">0 zone danger</button>
      <button id="i_3" (click)="push(3)">3 merci</button>
      <button id="i_1" (click)="push(1)">1 se rabattre</button>
      <button id="i_4" (click)="push(4)">4 distance de securite</button>
      <button id="i_2" (click)="push(2)">2 pieton</button>
      <button id="i_5" (click)="push(5)">5 embouteillage</button>
      <button id="i_6" (click)="push(6)">6 alerte</button>
    </div>
    <div class="boutons-hud2 type2">
      <table>
        <tr>
          <td><button id="t_0" (click)="push(0)">0 </button></td>
          <td><button id="t_3" (click)="push(3)">3 </button></td>
        </tr><tr>
          <td><button id="t_1" (click)="push(1)">1 </button></td>
          <td><button id="t_4" (click)="push(4)">4 </button></td>
        </tr><tr>
          <td><button id="t_2" (click)="push(2)">2 </button></td>
          <td><button id="t_5" (click)="push(5)">5 </button></td>
        </tr>
      </table>
      <button id="t_6" (click)="push(6)">6 alerte</button>
    </div>

    <br/>
    <br/>
  </div>

  <div class="others">
    <h2>send extern message</h2>

    <button id="e_0" (click)="send(0)">0</button>
    <button id="e_1" (click)="send(1)">1</button>
    <button id="e_2" (click)="send(2)">2</button>
    <button id="e_3" (click)="send(3)">3</button>
    <button id="e_4" (click)="send(4)">4</button>
    <button id="e_5" (click)="send(5)">5</button>
    <button id="e_6" (click)="send(6)">6</button>

    <br/>
    <br/>
  </div>
</div>
